

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px black;
}

.heading_div2 {
    font-size: 18px;
}

.result_para_tag {
    font-family:'Red Hat Display', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    background-color:cadetblue;
    border-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    color: white;
}

.result_para_tag:hover{
    background-color:lightsteelblue;
    border-color: white;
    box-shadow: 5px 5px 5px black;
    font-size: 20px;
    color: white;
}

.result_para_tag:click {
    background-color:lightsteelblue;
    border-color: white;
    box-shadow: 5px 5px 5px black;
    font-size: 20px;
    color: white;
}

.footer {
position: fixed;
bottom: 0;
background-color: grey;
width: 100%;
text-align: center;
font-family: 'Raleway', sans-serif;
line-height: 3;
color: white;
font-weight: bolder;
font-size: 17px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    margin-top: 150px;

}